<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/ctw0mao.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "normalize", "base" %>

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag  "main", "lazyload" %>
    <noscript>
      <style>.lazy { display: none }</style>
    </noscript>
  </head>

  <div class="header" id="top">
  <div class="container">
    <a href="/" class="logo-wrap">
      <span class="logo"></span>
    </a>
    <a class="toggle-wrap">
      <span class="toggle"></span>
    </a>
    <ul>
      <li><a href="/">Work</a></li>
      <li><a href="/case-studies">Case Studies</a></li>
      <li><a href="mailto:margaret@8thlight.com" class="button">Hire Us</a></li>
    </ul>
  </div>
  </div>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <div class="footer">
    <div class="container">
      <p class="copyright">Copyright © <%= Date.today.year %> 8th Light, Inc.</p>
    </div>
  </div>
</html>
