---
title: Case Studies
---
<div class="container sidebar-container">
  <div class="row">
    <div class="column third">
      <a href="case-studies/law-vault.html">
        <%= image_tag "placeholder-small.jpg", "data-original" => "/images/law-vault-logo-small.jpg", :class => "lazy" %>
        <noscript><%= image_tag "law-vault-logo-small.jpg" %></noscript>
      </a>
    </div>

    <div class="column third">
      <a href="case-studies/ncsa.html">
        <%= image_tag "placeholder-small.jpg", "data-original" => "/images/ncsa-logo.jpg", :class => "lazy" %>
        <noscript><%= image_tag "ncsa-logo.jpg" %></noscript>
      </a>
    </div>

      <div class="column third">
        <a href="case-studies/groupon.html">
          <%= image_tag "placeholder-small.jpg", "data-original" => "/images/groupon-logo.jpg", :class => "lazy" %>
          <noscript><%= image_tag "groupon-logo.jpg" %></noscript>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column third">
        <a href="case-studies/aegis-communications.html">
          <%= image_tag "placeholder-small.jpg", "data-original" => "/images/aegis-communications-logo.jpg", :class => "lazy" %>
          <noscript><%= image_tag "aegis-communications-logo.jpg" %></noscript>
        </a>
      </div>

      <div class="column third">
        <a href="case-studies/fidelity-life.html">
          <%= image_tag "placeholder-small.jpg", "data-original" => "/images/fidelity-life-logo.jpg", :class => "lazy" %>
          <noscript><%= image_tag "fidelity-life-logo.jpg" %></noscript>
        </a>
      </div>
    </div>
  </div>
