---
title: Work | 8th Light University
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul>
          <li>
            <a href="/joodo.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/world-equestrian.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>8th Light University</h3>
      <h4>Identity, Digital</h4>
      <p>Learn something new. Eat lunch. Fridays at Noon.</p>
      <%= link_to "university.8thlight.com", "http://university.8thlight.com/", :target => "_blank", :class => "website" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-logo.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-icon-lightbulb.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-icon-lightbulb.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-home.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-home.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-events.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-events.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-past-events.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-past-events.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-mobile.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-mobile.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-icon-archive.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-icon-archive.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/8lu-icon-location.jpg", :class => "lazy" %>
    <noscript><%= image_tag "8lu-icon-location.jpg" %></noscript>

    <%= link_to "Back to Top", "#top", :class => "scroll button" %>
  </div>
</div>
