---
title: 8th Light Design
---
<div class="container sidebar-container">
  <div class="row">
    <div class="column third">
      <a href="/go-big-recruiting.html">
        <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-logo.jpg", :class => "lazy" %>
        <noscript><%= image_tag "gbr-logo.jpg" %></noscript>
      </a>
    </div>

    <div class="column third">
      <a href="/law-vault.html">
        <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-logo.jpg", :class => "lazy" %>
        <noscript><%= image_tag "law-vault-logo.jpg" %></noscript>
      </a>
    </div>

    <div class="column third">
      <a href="/scna.html">
        <%= image_tag "placeholder.jpg", "data-original" => "/images/scna-identity.jpg", :class => "lazy" %>
        <noscript><%= image_tag "scna-identity.jpg" %></noscript>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column third">
      <a href="/">
        <%= image_tag "placeholder.jpg", "data-original" => "/images/placeholder.jpg", :class => "lazy" %>
        <noscript><%= image_tag "placeholder.jpg" %></noscript>
      </a>
    </div>

    <div class="column third">
      <a href="/">
        <%= image_tag "placeholder.jpg", "data-original" => "/images/placeholder.jpg", :class => "lazy" %>
        <noscript><%= image_tag "placeholder.jpg" %></noscript>
      </a>
    </div>

    <div class="column third">
      <a href="/">
        <%= image_tag "placeholder.jpg", "data-original" => "/images/placeholder.jpg", :class => "lazy" %>
        <noscript><%= image_tag "placeholder.jpg" %></noscript>
      </a>
    </div>
  </div>
</div>
