---
title: Go Big Recruiting
---
<div class="container sidebar-container">
  <div class="column third flow-opposite">
    <div class="sidebar">
      <h3>Go Big Recruiting</h3>
      <h4>Digital</h4>
      <p>
      Go Big Recruiting has created the most efficient online system for prospective student-athletes. By providing an easy to use, online contact management system integrated with a video platform, their technology streamlines the recruiting process for both athletes and coaches.
      </p>

      <%= link_to "gobigrecruiting.com", "http://gobigrecruiting.com", :target => "_blank", :class => "website" %>
    </div>
  </div>
  <div class="column two-thirds work-images">
    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-login.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-account-profile.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-account-video.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-profile.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-icon-video.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-icon-social.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-icon-school.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-9.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/gbr-10.jpg", :class => "lazy" %>
    <noscript><%= image_tag "gbr-1.jpg" %></noscript>

    <%= link_to "Back to Top", "#top", :class => "scroll button" %>
  </div>
</div>
