---
title: Go Big Recruiting
---
<div class="container sidebar-container">
  <div class="column third flow-opposite">
    <div class="sidebar">
      <h3>Go Big Recruiting</h3>
      <h4>Digital</h4>
      <p>
      Go Big Recruiting has created the most efficient online system for prospective student-athletes to submit their video and information to college coaches. Go Big Recruiting's technology streamlines the recruiting process for both athletes and coaches by providing an easy to use, online contact management system integrated with a video platform.
      </p>

      <%= link_to "gobigrecruiting.com", "http://gobigrecruiting.com", :target => "_blank" %>
    </div>
  </div>
  <div class="column two-thirds work-images">
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
  </div>

</div>
