---
title: Work | Joodo
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul>
          <li>
          <a href="/scna.html">
            <span class="icon arrow-left"></span>
          </a>
          </li>
          <li>
          <a href="/joodo.html">
            <span class="icon arrow-right"></span>
          </a>
          </li>
          <li>
          <a href="/">
            <span class="icon grid"></span>
          </a>
          </li>
        </ul>
      </div>

      <h3>Joodo</h3>
      <h4>Digital</h4>
      <p>Building websites and web applications with Joodo is an extremely easy process. Joodo does this by integrating Ring, Compojure, Hiccup, Speclj, and Leiningen. Installing Joodo can be done by running a few commands in the terminal, and creating and deploying projects are just as easy.</p>
      <%= link_to "joodoweb.com", "http://joodoweb.com/", :target => "_blank", :class => "website pl" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-logo.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-logo-circle.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-logo-circle.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-throws.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-throws.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-home.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-home.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-sample.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-sample.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-community.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-community.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/joodo-views.jpg", :class => "lazy" %>
    <noscript><%= image_tag "joodo-views.jpg" %></noscript>

    <%= link_to "Back to Top", "#top", :class => "scroll button" %>
  </div>
</div>
