---
title: Go Big Recruiting
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul>
          <li>
          <a href="/scna.html">
            <span class="icon arrow-left"></span>
          </a>
          </li>
          <li>
          <a href="/law-vault.html">
            <span class="icon arrow-right"></span>
          </a>
          </li>
          <li>
          <a href="/">
            <span class="icon grid"></span>
          </a>
          </li>
        </ul>
      </div>

      <h3>Law Vault</h3>
      <h4>Identity, Digital</h4>
      <p>Law Vault provides a secure portal to facilitate collaboration among adversaries for exchanging and viewing documents, scheduling events and accessing important case-specific information in a user-friendly format.</p>

      <%= link_to "lawvault.com", "https://www.lawvault.com/", :target => "_blank", :class => "website" %>
    </div>
  </div>
  <div class="column two-thirds work-images">
    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-logo.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-home.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-home.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-video.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-video.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-login.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-login.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-cases.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-cases.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-cases-detail.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-cases-detail.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/law-vault-modal.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-modal.jpg" %></noscript>

    <%= link_to "Back to Top", "#top", :class => "scroll button" %>
  </div>
</div>
