---
title: SCNA
---
<div class="container sidebar-container">
  <div class="column third flow-opposite">
    <div class="sidebar">
      <h3>SCNA</h3>
      <h4>Identity, Print, Digital</h4>
      <p>
      SCNA is a conference for software professionals interested in improving their craft, their community, and themselves.
      </p>

      <%= link_to "gobigrecruiting.com", "http://gobigrecruiting.com", :target => "_blank" %>
    </div>
  </div>
  <div class="column two-thirds work-images">
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
    <%= image_tag "scna-1.jpg", :class => "lazy" %>
  </div>

</div>
