---
title: Work | 8th Light University
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul>
          <li>
            <a href="/8th-light-university.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/world-equestrian.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>World Equestrian Directory</h3>
      <h4>Identity, Digital</h4>
      <p>
        World Equestrian Directory is the premier source for equestrian-related resources
        worldwide providing trainers, riders, owners, and other individuals within the
        equestrian community, the opportunity to share their expertise, horses, and
        achievements through individual listings.
      </p>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder.jpg", "data-original" => "/images/wed-logo-1.jpg", :class => "lazy" %>
    <noscript><%= image_tag "wed-logo-1.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/wed-logo-2.jpg", :class => "lazy" %>
    <noscript><%= image_tag "wed-logo-2.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/wed-home-page.jpg", :class => "lazy" %>
    <noscript><%= image_tag "wed-home-page.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/wed-signup-page.jpg", :class => "lazy" %>
    <noscript><%= image_tag "wed-signup-page.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/wed-account-page.jpg", :class => "lazy" %>
    <noscript><%= image_tag "wed-account-page.jpg" %></noscript>

    <%= image_tag "placeholder.jpg", "data-original" => "/images/wed-mobile.jpg", :class => "lazy" %>
    <noscript><%= image_tag "wed-mobile.jpg" %></noscript>

    <%= link_to "Back to Top", "#top", :class => "scroll button" %>
  </div>
</div>
